@model PharmacyWebApp.Models.PharmacyModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>


    <div class="text-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</form>

<style>
    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

    .form-control {
        width: 100%;
        padding: 8px;
        border: 1px solid;
        border-radius: 5px;
        font-size: 14px;
    }

        .form-control:focus {
            outline: none;
            box-shadow: 0px 0px 5px;
        }

    .btn {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .text-danger {
        font-size: 14px;
    }

</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
