<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Inline CSS for Navbar -->
    <style>


        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
            }

                nav ul li {
                    margin: 0 20px;
                    font-size: 18px;
                }

                    nav ul li a {
                        text-decoration: none;
                        padding: 10px 20px;
                        display: inline-block;
                        font-weight: bold;
                    }

                        nav ul li a:hover {
                            border-radius: 5px;
                        }

                        nav ul li a.active {
                            border-radius: 5px;
                        }

        .container {
            padding: 30px;
        }

            .container h1 {
                text-align: center;
            }

    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Admin/AddPharmacy" class="@(ViewData["ActivePage"] != null && (ViewData["ActivePage"] as string) == "AddPharmacy" ? "active" : "")">Add Pharmacy</a></li>
                <li><a href="/Admin/AddSupplier" class="@(ViewData["ActivePage"] != null && (ViewData["ActivePage"] as string) == "AddSupplier" ? "active" : "")">Add Supplier</a></li>
                
            </ul>
        </nav>
    </header>

    <div class="container">
        @RenderBody()  <!-- This is where your page content will be inserted -->
    </div>
</body>
</html>
